/* BASE */
@import './../fonts/gotham/stylesheet.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700,italic);
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*FONTS*/
/*FONTS*/
/*COLORS*/
/*COLORS*/
/*MEDIA*/
/*MEDIA*/
body {
  font-family: "Open sans", serif;
  font-size: 16px;
}

a {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.title1 {
  color: #fff;
  font-family: "Gotham", sefif;
  font-size: clamp(30px, 1.466rem + 2.05vw, 48px);
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.2px;
  text-align: center;
}

.title2 {
  color: rgb(24, 59, 86);
  font-family: "Gotham", sefif;
  font-size: clamp(22px, 1.057rem + 1.59vw, 36px);
  font-weight: 700;
  line-height: clamp(30px, 1.466rem + 2.05vw, 48px);
  letter-spacing: 0.2px;
  text-align: left;
}
.title2_popular {
  color: #fff;
}
.title2_all {
  color: #fff;
}
.title2_form {
  color: #fff;
}

.title3 {
  color: #fff;
  font-family: "Gotham", sefif;
  font-size: clamp(20px, 1.068rem + 0.91vw, 28px);
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.2px;
  text-align: left;
}

.title4 {
  color: rgb(24, 59, 86);
  font-family: "Gotham", sefif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-align: left;
}

.subtitleP {
  color: rgb(90, 113, 132);
  font-size: clamp(15px, 0.869rem + 0.34vw, 18px);
  font-weight: 400;
  line-height: clamp(20px, 0.977rem + 1.36vw, 32px);
  letter-spacing: 0px;
  text-align: left;
}
.subtitleP_small {
  color: #fff;
  font-size: clamp(15px, 0.869rem + 0.34vw, 18px);
  font-weight: 400;
  line-height: clamp(20px, 0.977rem + 1.36vw, 32px);
  letter-spacing: 0px;
  text-align: left;
}
.subtitleP_form {
  color: rgb(90, 113, 132);
}
.subtitleP_card {
  color: rgb(90, 113, 132);
  font-size: clamp(15px, 0.869rem + 0.34vw, 18px);
  font-weight: 400;
  line-height: clamp(20px, 0.977rem + 1.36vw, 32px);
  letter-spacing: 0px;
  text-align: left;
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #000;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* BASE */
/* BLOCK */
.header {
  background-image: url(./../../content/header/bgHeader.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 26px 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.header__nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.header__nav_item {
  color: #fff !important;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.header__nav_item button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 13px 24px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.header__nav_item button:hover {
  background-color: #fff;
  color: rgb(21, 101, 216);
}

.header__nav_item_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.header__nav_item_menu img {
  margin-top: 3px;
}
.header__nav_item_menu:hover {
  cursor: pointer;
}

.header__row_nav_burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .header__row_nav_burger {
    display: block;
  }
  .header__row_nav {
    display: none;
  }
}
.header__search_title {
  margin-bottom: clamp(20px, 0.795rem + 2.27vw, 40px);
}

.header__search_form {
  max-width: 760px;
  margin: 0 auto;
}
.header__search_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background: #fff;
  padding: clamp(4px, 0.159rem + 0.45vw, 8px);
  max-width: 760px;
  margin-bottom: 23px;
}
.header__search_form input {
  margin: 0 auto 0 16px;
  padding-right: 20px;
  width: 95%;
}
.header__search_form .button__form_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  background: rgb(21, 101, 216);
  padding: 9px clamp(10px, 0.398rem + 1.14vw, 20px);
  color: #fff;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
  margin-left: 20px;
}
.header__search_form .button__form_search:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.form__wrapper_tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.button_tag {
  width: 15px;
}

.form__wrapper_tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-wrap: nowrap;
}
.form__wrapper_tag img {
  width: 15px;
}

.header__tags_item.active {
  background-color: rgb(21, 101, 216);
}

.header__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
}

.header__tags_subtitle {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.header__tags_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 5px;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.header__tags_item {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.2);
  padding: 6px 17px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}
.header__tags_item:hover {
  cursor: pointer;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.header__row_nav_mobile {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 25;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.header__nav_list_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
}

.header__nav_item_mobile {
  color: #fff;
  font-weight: 600;
}

.header__row_nav_mobile.show {
  visibility: visible;
  opacity: 1;
}

.header__nav_item_mobile_dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}

.header__nav_item_mobile_sub li {
  color: #fff;
}

.recommend {
  margin-bottom: clamp(40px, 1.75rem + 3.75vw, 73px);
}

.recommend__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin-top: -200px;
  border: 1px solid rgb(229, 234, 244);
  border-radius: 16px;
  -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.recommend__card_image img {
  border-radius: 16px 0 0 16px;
  width: 100%;
  height: 100%;
}

.recommend__card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  padding: clamp(15px, 0.551rem + 1.93vw, 32px);
}

.recommend__card_info_tag {
  border-radius: 2000px;
  background: rgba(54, 179, 126, 0.1);
  padding: clamp(3px, 0.142rem + 0.23vw, 5px) clamp(8px, 0.455rem + 0.23vw, 10px);
  color: rgb(21, 101, 216);
  font-size: clamp(12px, 0.659rem + 0.45vw, 16px);
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 16px;
}

.recommend__card_info_title {
  margin-bottom: clamp(10px, 0.398rem + 1.14vw, 20px);
}

.recommend__card_info_subtitle {
  margin-bottom: clamp(20px, 0.727rem + 2.61vw, 43px);
}

.recommend__card_info_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.recommend__card_user_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.user_info_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
}
.user_info_name span {
  color: rgb(24, 59, 86);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.user_info_name_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.user_info_name_wrapper span {
  color: rgb(90, 113, 132);
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

.user_info_name_wrapper_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  background-color: rgba(54, 179, 126, 0.15);
  border-radius: 50%;
}

.recommend__card_user_date span {
  color: rgb(90, 113, 132);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: right;
}

@media screen and (max-width: 800px) {
  .recommend__card {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .recommend__card_image img {
    border-radius: 16px 16px 0 0;
  }
}
.popular {
  margin-bottom: clamp(40px, 1.227rem + 6.36vw, 96px);
}

.popular__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.popular__row_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.popular__row_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 32px 48px 48px 26px;
  border-radius: 8px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popular__row_card::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  opacity: 1;
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 59, 86, 0)), to(rgb(21, 37, 50)));
  background: linear-gradient(180deg, rgba(24, 59, 86, 0), rgb(21, 37, 50) 100%);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.popular__row_card:hover {
  cursor: pointer;
}
.popular__row_card:hover::after {
  opacity: 0.8;
}

.popular__row_card_title {
  margin-bottom: clamp(10px, 0.125rem + 2.5vw, 32px);
  z-index: 2;
}

.popular__row_card_one {
  background-image: url(/content/main/popular/popularOne.jpeg);
}

.popular__row_card_two {
  background-image: url(/content/main/popular/popularTwo.jpeg);
}

@media screen and (max-width: 1000px) {
  .popular__row_cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}
.recent {
  margin-bottom: clamp(40px, 1.227rem + 6.36vw, 96px);
}

.recent__row_card_one {
  background-image: url(/content/main/recent/imageOne.jpeg);
}

.recent__row_card_two {
  background-image: url(/content/main/recent/imageTwo.jpeg);
}

.recent__row_card_three {
  background-image: url(/content/main/recent/imageThree.jpeg);
}

.case {
  margin-bottom: clamp(40px, 1.227rem + 6.36vw, 96px);
}

.case__swiper_wrapper {
  position: relative;
}

.case__card {
  margin-top: unset;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid rgb(229, 234, 244);
  border-radius: 16px;
  background: #fff;
}
.case__card:hover {
  cursor: pointer;
}

.case__card_image img {
  border-radius: 16px 0 0 16px;
}

.case__card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  padding: clamp(15px, 0.551rem + 1.93vw, 32px);
}

.case__card_info_tag {
  border-radius: 2000px;
  background: rgba(54, 179, 126, 0.1);
  padding: clamp(3px, 0.142rem + 0.23vw, 5px) clamp(8px, 0.455rem + 0.23vw, 10px);
  color: rgb(21, 101, 216);
  font-size: clamp(12px, 0.659rem + 0.45vw, 16px);
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 16px;
}

.case__card_info_title {
  margin-bottom: clamp(10px, 0.398rem + 1.14vw, 20px);
}

.case__card_info_subtitle {
  margin-bottom: clamp(20px, 0.727rem + 2.61vw, 43px);
}

.case__card_info_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.case__card_user_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.user_info_name_wrapper_img_case {
  width: 16px;
  height: 16px;
}
.user_info_name_wrapper_img_case img {
  width: unset !important;
  height: unset !important;
}

.case__card_user_date span {
  color: rgb(90, 113, 132);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: right;
}

.case-button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: clamp(30px, 0.875rem + 5vw, 54px);
  height: clamp(32px, 1rem + 5vw, 56px);
  background-color: rgb(21, 101, 216);
  border-radius: 50%;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.case-button button:hover {
  background-color: rgb(15, 102, 242);
}

.case__buttons_wrapper {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
}

.case-button-prev {
  position: absolute;
  left: -25px;
}

.case-button-next {
  position: absolute;
  right: -25px;
}

@media screen and (max-width: 1250px) {
  .case__buttons_wrapper {
    top: unset;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .case-button-prev {
    position: unset;
  }
  .case-button-next {
    position: unset;
  }
}
@media screen and (max-width: 800px) {
  .case__card {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .case__card_image img {
    border-radius: 16px 16px 0 0;
  }
  .case__buttons_wrapper {
    top: -8.5365853659%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
.all__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 30px;
}

.all__row_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.all__row_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 32px 48px 48px 26px;
  border-radius: 8px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.all__row_card::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  opacity: 1;
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 59, 86, 0)), to(rgb(21, 37, 50)));
  background: linear-gradient(180deg, rgba(24, 59, 86, 0), rgb(21, 37, 50) 100%);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.all__row_card:hover {
  cursor: pointer;
}
.all__row_card:hover::after {
  opacity: 0.8;
}

.all_row {
  margin-bottom: 48px;
}

.all__row_card_title {
  margin-bottom: 32px;
  z-index: 2;
}

.all__info_button button {
  margin: 0 auto;
}

.all__row_card_one {
  background-image: url(/content/main/all/imageOneBig.jpeg);
}

.all__row_card_two {
  background-image: url(/content/main/all/imageTwoBig.jpeg);
}

.all__row_card_one {
  background-image: url(/content/main/all/imageSmallOne.jpeg);
}

.all__row_card_two {
  background-image: url(/content/main/all/imageSmallTwo.jpeg);
}

.all__row_card_three {
  background-image: url(/content/main/all/imageSmallThree.jpeg);
}

@media screen and (max-width: 1000px) {
  .all__row_cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}
.footer__image {
  height: 175px;
  background-image: url(/content/footer/footerForm/bgFooter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__info {
  background-color: rgb(13, 36, 54);
  border-top: 1px dashed rgb(90, 113, 132);
  border-bottom: 1px dashed rgb(90, 113, 132);
}

.footer__info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 92px;
     -moz-column-gap: 92px;
          column-gap: 92px;
  padding: 11px 0 clamp(40px, 1.227rem + 6.36vw, 96px);
}

.footer__wrapper_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  margin-bottom: 24px;
}
.footer__wrapper_form input {
  border-radius: 8px;
  background: #fff;
  padding: clamp(8px, 0.318rem + 0.91vw, 16px);
  width: 50%;
  max-width: 320px;
}
.footer__wrapper_form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  background: rgb(21, 101, 216);
  padding: clamp(8px, 0.318rem + 0.91vw, 16px) clamp(16px, 0.636rem + 1.82vw, 32px);
  color: #fff;
  font-size: clamp(14px, 0.784rem + 0.45vw, 18px);
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.footer__wrapper_form button:hover {
  background-color: rgb(15, 102, 242);
}

.footer__form_title {
  margin-bottom: clamp(20px, 0.341rem + 4.55vw, 60px);
}

.footer__wrapper_card {
  background-color: #fff;
  border-radius: 16px;
  padding: 8px 8px 24px;
  max-width: 466px;
}

.footer__card_img {
  margin-bottom: 28px;
}
.footer__card_img img {
  border-radius: 12px;
}

.footer_card_wrapper {
  padding: 0px 32px;
}

.footer__card_title {
  margin-bottom: 12px;
}

@media screen and (max-width: 1000px) {
  .footer__wrapper_card {
    display: none;
  }
}
.footer_nav {
  padding-top: clamp(60px, 2.205rem + 7.73vw, 128px);
  padding-bottom: clamp(70px, 1.739rem + 13.18vw, 186px);
  background-color: rgb(13, 36, 54);
}

.footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 30px 2fr 30px 2fr 30px 2fr 30px 2fr 30px 1fr;
  grid-template-columns: 3fr 2fr 2fr 2fr 2fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.footer__grid_logotype {
  color: rgb(90, 113, 132);
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.footer__grid_logotype .grid__logotype_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
.footer__grid_logotype img {
  margin-bottom: 28px;
}
.footer__grid_logotype p {
  margin-bottom: 32px;
}
.footer__grid_logotype a:hover {
  text-decoration: underline;
}

.footer_list {
  color: rgb(149, 158, 173);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.langings_link {
  position: relative;
}

.langings_dropdown {
  position: absolute;
  top: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pages_link {
  position: relative;
}

.pages_dropdown {
  position: absolute;
  top: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer_item:not(:first-child) {
  margin-bottom: 24px;
}
.footer_item:not(:first-child):hover {
  text-decoration: underline;
}

.footer_item_title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 31px;
}

@media screen and (max-width: 1000px) {
  .footer__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }
}
.footer__copyright {
  background-color: rgb(13, 36, 54);
  padding-bottom: clamp(40px, 1.545rem + 4.77vw, 82px);
}
.footer__copyright strong {
  text-align: center;
  color: rgb(90, 113, 132);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

.copyright {
  text-align: center;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  z-index: 102;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #fff;
}

.burger::before {
  top: 0;
  -webkit-box-shadow: 0 11px 0 #fff;
          box-shadow: 0 11px 0 #fff;
  -webkit-transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
}

.burger::after {
  bottom: 0;
  -webkit-transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s, -webkit-transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  -webkit-transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s, -webkit-transform 0.3s 0.15s;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.small_row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.small__row_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  height: 100%;
}

.small__row_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 100%;
  padding: clamp(20px, 0.977rem + 1.36vw, 32px) clamp(24px, 0.955rem + 2.73vw, 48px) clamp(24px, 0.955rem + 2.73vw, 48px) clamp(18px, 0.943rem + 0.91vw, 26px);
  border-radius: 8px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.small__row_card::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  opacity: 1;
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 59, 86, 0)), to(rgb(21, 37, 50)));
  background: linear-gradient(180deg, rgba(24, 59, 86, 0), rgb(21, 37, 50) 100%);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.small__row_card:hover {
  cursor: pointer;
}
.small__row_card:hover::after {
  opacity: 0.8;
}

.small__row_card_title {
  margin-top: clamp(80px, 0.682rem + 21.59vw, 270px);
  margin-bottom: clamp(20px, 0.977rem + 1.36vw, 32px);
  z-index: 2;
}

.small__row_card_subtitle {
  z-index: 2;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .small_row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .small__row_cards {
    width: 100%;
  }
  .small__row_card {
    width: 100%;
  }
}
.card_info_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 2;
}

.card_user_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(6px, 0.239rem + 0.68vw, 12px);
     -moz-column-gap: clamp(6px, 0.239rem + 0.68vw, 12px);
          column-gap: clamp(6px, 0.239rem + 0.68vw, 12px);
}

.user_info_name_light span {
  color: rgb(24, 59, 86);
}

.user_info_name span {
  font-size: clamp(12px, 0.659rem + 0.45vw, 16px);
}

.user_info_name_dark span {
  color: #fff;
}

.card_user_date span {
  font-size: clamp(12px, 0.659rem + 0.45vw, 16px);
}

.card_user_date_dark span {
  color: #fff;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: right;
}

.card_user_date_light span {
  color: #fff;
}

.user_info_name_wrapper {
  -webkit-column-gap: clamp(4px, 0.159rem + 0.45vw, 8px);
     -moz-column-gap: clamp(4px, 0.159rem + 0.45vw, 8px);
          column-gap: clamp(4px, 0.159rem + 0.45vw, 8px);
}
.user_info_name_wrapper span {
  color: rgb(90, 113, 132);
  font-size: clamp(10px, 0.489rem + 0.68vw, 16px);
}

.default_tag {
  border-radius: 2000px;
  background: #fff;
  padding: 5px 10px;
  color: rgb(54, 179, 126);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: clamp(100px, 2.159rem + 20.45vw, 280px);
  z-index: 2;
}

.default__info {
  margin-bottom: clamp(20px, 0.614rem + 3.18vw, 48px);
}

.default__info_title {
  margin-bottom: clamp(8px, 0.318rem + 0.91vw, 16px);
}

.default__info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.default__info_subtitle {
  max-width: 600px;
}

.default__info_button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  border: 2px solid rgb(21, 101, 216);
  border-radius: 8px;
  padding: clamp(10px, 0.557rem + 0.34vw, 13px) clamp(18px, 0.989rem + 0.68vw, 24px);
  color: rgb(21, 101, 216);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.default__info_button button:hover {
  background-color: rgb(21, 101, 216);
  color: #fff;
}
.default__info_button button:hover svg path {
  fill: #fff;
}

@media screen and (max-width: 800px) {
  .default__info_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    row-gap: 20px;
  }
}
/* BLOCK */