/* BASE */
@import './../fonts/gotham/stylesheet.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700,italic);
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*FONTS*/
/*FONTS*/
/*COLORS*/
/*COLORS*/
/*MEDIA*/
/*MEDIA*/
body {
  font-family: "Open sans", serif;
  font-size: 16px;
}

a {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.title1 {
  color: #fff;
  font-family: "Gotham", sefif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.2px;
  text-align: center;
}

.title2 {
  color: rgb(24, 59, 86);
  font-family: "Gotham", sefif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.2px;
  text-align: left;
}
.title2_popular {
  color: #fff;
}
.title2_all {
  color: #fff;
}
.title2_form {
  color: #fff;
}

.title3 {
  color: #fff;
  font-family: "Gotham", sefif;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.2px;
  text-align: left;
}

.title4 {
  color: rgb(24, 59, 86);
  font-family: "Gotham", sefif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-align: left;
}

.subtitleP {
  color: rgb(90, 113, 132);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.subtitleP_small {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}
.subtitleP_form {
  color: rgb(90, 113, 132);
}
.subtitleP_card {
  color: rgb(90, 113, 132);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #000;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* BASE */
/* BLOCK */
.header {
  background-image: url(./../../content/header/bgHeader.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 26px 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.header__nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.header__nav_item {
  color: #fff !important;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.header__nav_item button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 13px 24px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.header__nav_item button:hover {
  background-color: #fff;
  color: rgb(21, 101, 216);
}

.header__nav_item_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.header__nav_item_menu img {
  margin-top: 3px;
}
.header__nav_item_menu:hover {
  cursor: pointer;
}

.header__search_title {
  margin-bottom: 40px;
}

.header__search_form {
  max-width: 760px;
  margin: 0 auto;
}
.header__search_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background: #fff;
  padding: 8px;
  max-width: 760px;
  margin-bottom: 23px;
}
.header__search_form input {
  margin: 0 auto 0 16px;
  padding-right: 20px;
  width: 95%;
}
.header__search_form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  background: rgb(21, 101, 216);
  padding: 9px 20px;
  color: #fff;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}
.header__search_form button:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.header__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
}

.header__tags_subtitle {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.header__tags_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.header__tags_item {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.2);
  padding: 6px 17px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}
.header__tags_item:hover {
  cursor: pointer;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.recommend {
  margin-bottom: 73px;
}

.recommend__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin-top: -200px;
  border: 1px solid rgb(229, 234, 244);
  border-radius: 16px;
  -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.recommend__card_image img {
  border-radius: 16px 0 0 16px;
}

.recommend__card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  padding: 32px;
}

.recommend__card_info_tag {
  border-radius: 2000px;
  background: rgba(54, 179, 126, 0.1);
  padding: 5px 10px;
  color: rgb(21, 101, 216);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 16px;
}

.recommend__card_info_title {
  margin-bottom: 20px;
}

.recommend__card_info_subtitle {
  margin-bottom: 43px;
}

.recommend__card_info_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.recommend__card_user_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.user_info_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
}
.user_info_name span {
  color: rgb(24, 59, 86);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.user_info_name_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.user_info_name_wrapper span {
  color: rgb(90, 113, 132);
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

.user_info_name_wrapper_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  background-color: rgba(54, 179, 126, 0.15);
  border-radius: 50%;
}

.recommend__card_user_date span {
  color: rgb(90, 113, 132);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: right;
}

.popular {
  margin-bottom: 96px;
}

.popular__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.popular__row_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.popular__row_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 32px 48px 48px 26px;
  border-radius: 8px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popular__row_card::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  opacity: 1;
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 59, 86, 0)), to(rgb(21, 37, 50)));
  background: linear-gradient(180deg, rgba(24, 59, 86, 0), rgb(21, 37, 50) 100%);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.popular__row_card:hover {
  cursor: pointer;
}
.popular__row_card:hover::after {
  opacity: 0.8;
}

.popular__row_card_title {
  margin-bottom: 32px;
  z-index: 2;
}

.popular__row_card_one {
  background-image: url(/content/main/popular/popularOne.jpeg);
}

.popular__row_card_two {
  background-image: url(/content/main/popular/popularTwo.jpeg);
}

.recent__row_card_one {
  background-image: url(/content/main/recent/imageOne.jpeg);
}

.recent__row_card_two {
  background-image: url(/content/main/recent/imageTwo.jpeg);
}

.recent__row_card_three {
  background-image: url(/content/main/recent/imageThree.jpeg);
}

.case__swiper_wrapper {
  position: relative;
}

.case__card {
  margin-top: unset;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid rgb(229, 234, 244);
  border-radius: 16px;
  background: #fff;
}
.case__card:hover {
  cursor: pointer;
}

.case__card_image img {
  border-radius: 16px 0 0 16px;
}

.case__card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  padding: 32px;
}

.case__card_info_tag {
  border-radius: 2000px;
  background: rgba(54, 179, 126, 0.1);
  padding: 5px 10px;
  color: rgb(21, 101, 216);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 16px;
}

.case__card_info_title {
  margin-bottom: 20px;
}

.case__card_info_subtitle {
  margin-bottom: 43px;
}

.case__card_info_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.case__card_user_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.user_info_name_wrapper_img_case {
  width: 16px;
  height: 16px;
}
.user_info_name_wrapper_img_case img {
  width: unset !important;
  height: unset !important;
}

.case__card_user_date span {
  color: rgb(90, 113, 132);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: right;
}

.case-button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 54px;
  height: 56px;
  background-color: rgb(21, 101, 216);
  border-radius: 50%;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.case-button button:hover {
  background-color: rgb(15, 102, 242);
}

.case__buttons_wrapper {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
}

.case-button-prev {
  position: absolute;
  left: -25px;
}

.case-button-next {
  position: absolute;
  right: -25px;
}

.all__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 30px;
}

.all__row_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.all__row_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 32px 48px 48px 26px;
  border-radius: 8px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.all__row_card::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  opacity: 1;
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 59, 86, 0)), to(rgb(21, 37, 50)));
  background: linear-gradient(180deg, rgba(24, 59, 86, 0), rgb(21, 37, 50) 100%);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.all__row_card:hover {
  cursor: pointer;
}
.all__row_card:hover::after {
  opacity: 0.8;
}

.all_row {
  margin-bottom: 48px;
}

.all__row_card_title {
  margin-bottom: 32px;
  z-index: 2;
}

.all__info_button button {
  margin: 0 auto;
}

.all__row_card_one {
  background-image: url(/content/main/all/imageOneBig.jpeg);
}

.all__row_card_two {
  background-image: url(/content/main/all/imageTwoBig.jpeg);
}

.all__row_card_one {
  background-image: url(/content/main/all/imageSmallOne.jpeg);
}

.all__row_card_two {
  background-image: url(/content/main/all/imageSmallTwo.jpeg);
}

.all__row_card_three {
  background-image: url(/content/main/all/imageSmallThree.jpeg);
}

.footer__image {
  height: 175px;
  background-image: url(/content/footer/footerForm/bgFooter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__info {
  background-color: rgb(13, 36, 54);
  border-top: 1px dashed rgb(90, 113, 132);
  border-bottom: 1px dashed rgb(90, 113, 132);
}

.footer__info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 92px;
     -moz-column-gap: 92px;
          column-gap: 92px;
  padding: 11px 0 96px;
}

.footer__wrapper_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  margin-bottom: 24px;
}
.footer__wrapper_form input {
  border-radius: 8px;
  background: #fff;
  padding: 16px;
  width: 100%;
  max-width: 320px;
}
.footer__wrapper_form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  background: rgb(21, 101, 216);
  padding: 16px 32px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.footer__wrapper_form button:hover {
  background-color: rgb(15, 102, 242);
}

.footer__form_title {
  margin-bottom: 60px;
}

.footer__wrapper_card {
  background-color: #fff;
  border-radius: 16px;
  padding: 8px 8px 24px;
  max-width: 466px;
}

.footer__card_img {
  margin-bottom: 28px;
}
.footer__card_img img {
  border-radius: 12px;
}

.footer_card_wrapper {
  padding: 0px 32px;
}

.footer__card_title {
  margin-bottom: 12px;
}

.footer_nav {
  padding-top: 128px;
  padding-bottom: 186px;
  background-color: rgb(13, 36, 54);
}

.footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 30px 2fr 30px 2fr 30px 2fr 30px 2fr 30px 1fr;
  grid-template-columns: 3fr 2fr 2fr 2fr 2fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.footer__grid_logotype {
  color: rgb(90, 113, 132);
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.footer__grid_logotype .grid__logotype_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
.footer__grid_logotype img {
  margin-bottom: 28px;
}
.footer__grid_logotype p {
  margin-bottom: 32px;
}
.footer__grid_logotype a:hover {
  text-decoration: underline;
}

.footer_list {
  color: rgb(149, 158, 173);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.footer_item:not(:first-child) {
  margin-bottom: 24px;
}
.footer_item:not(:first-child):hover {
  text-decoration: underline;
}

.footer_item_title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 31px;
}

.footer__copyright {
  background-color: rgb(13, 36, 54);
  padding-bottom: 82px;
}
.footer__copyright strong {
  text-align: center;
  color: rgb(90, 113, 132);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

.copyright {
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.small_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.small__row_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.small__row_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 32px 48px 48px 26px;
  border-radius: 8px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.small__row_card::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  opacity: 1;
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 59, 86, 0)), to(rgb(21, 37, 50)));
  background: linear-gradient(180deg, rgba(24, 59, 86, 0), rgb(21, 37, 50) 100%);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.small__row_card:hover {
  cursor: pointer;
}
.small__row_card:hover::after {
  opacity: 0.8;
}

.small__row_card_title {
  margin-top: 270px;
  margin-bottom: 32px;
  z-index: 2;
}

.small__row_card_subtitle {
  z-index: 2;
}

.card_info_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 2;
}

.card_user_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.user_info_name_light span {
  color: rgb(24, 59, 86);
}

.user_info_name_dark span {
  color: #fff;
}

.card_user_date_dark span {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: right;
}

.card_user_date_light span {
  color: #fff;
}

.user_info_name_wrapper span {
  color: rgb(90, 113, 132);
}

.default_tag {
  border-radius: 2000px;
  background: #fff;
  padding: 5px 10px;
  color: rgb(54, 179, 126);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 280px;
  z-index: 2;
}

.default__info {
  margin-bottom: 48px;
}

.default__info_title {
  margin-bottom: 16px;
}

.default__info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.default__info_subtitle {
  max-width: 600px;
}

.default__info_button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  border: 2px solid rgb(21, 101, 216);
  border-radius: 8px;
  padding: 13px 24px;
  color: rgb(21, 101, 216);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.default__info_button button:hover {
  background-color: rgb(21, 101, 216);
  color: #fff;
}
.default__info_button button:hover svg path {
  fill: #fff;
}

/* BLOCK */