.all__row {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 30px;
}

.all__row_cards {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.all__row_card {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  padding: 32px 48px 48px 26px;
  border-radius: 8px;

  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;

    border-radius: 8px;

    opacity: 1;

    content: "";
    display: block;
    background: linear-gradient(
      180deg,
      rgba(24, 59, 86, 0),
      rgb(21, 37, 50) 100%
    );

    transition: opacity 0.2s linear;
  }

  &:hover {
    cursor: pointer;
    &::after {
      opacity: 0.8;
    }
  }
}

.all_row {
  margin-bottom: 48px;
}

.all__row_card_title {
  margin-bottom: 32px;

  z-index: 2;
}

.all__info_button {
  button {
    margin: 0 auto;
  }
}

.all__row_card_one {
  background-image: url(/content/main/all/imageOneBig.jpeg);
}

.all__row_card_two {
  background-image: url(/content/main/all/imageTwoBig.jpeg);
}

.all__row_card_one {
  background-image: url(/content/main/all/imageSmallOne.jpeg);
}

.all__row_card_two {
  background-image: url(/content/main/all/imageSmallTwo.jpeg);
}

.all__row_card_three {
  background-image: url(/content/main/all/imageSmallThree.jpeg);
}

@include mediaTabletLarge {
  .all__row_cards {
    flex-direction: column;
    row-gap: 30px;
  }
}
