.case {
  // position: relative;
  margin-bottom: clamp(40px, 1.227rem + 6.36vw, 96px);
}

.case__swiper_wrapper {
  position: relative;
}

.case__card {
  margin-top: unset;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  border: 1px solid rgb(229, 234, 244);
  border-radius: 16px;
  background: $colorWhite;

  &:hover {
    cursor: pointer;
  }
}

.case__card_image {
  img {
    border-radius: 16px 0 0 16px;
  }
}

.case__card_info {
  display: flex;
  flex-direction: column;
  align-items: self-start;

  padding: clamp(15px, 0.551rem + 1.93vw, 32px);
}

.case__card_info_tag {
  border-radius: 2000px;
  background: rgba(54, 179, 126, 0.1);
  padding: clamp(3px, 0.142rem + 0.23vw, 5px) clamp(8px, 0.455rem + 0.23vw, 10px);

  color: $colorAccent;
  font-size: clamp(12px, 0.659rem + 0.45vw, 16px);
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;

  margin-bottom: 16px;
}

.case__card_info_title {
  margin-bottom: clamp(10px, 0.398rem + 1.14vw, 20px);
}

.case__card_info_subtitle {
  margin-bottom: clamp(20px, 0.727rem + 2.61vw, 43px);
}

.case__card_info_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.case__card_user_text {
  display: flex;
  align-items: center;

  column-gap: 12px;
}

.user_info_name_wrapper_img_case {
  width: 16px;
  height: 16px;
  img {
    width: unset !important;
    height: unset !important;
  }
}

.case__card_user_date {
  span {
    color: $colorAccentMuted;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: right;
  }
}

.case-button {
  button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 54px;
    height: 56px;

    background-color: $colorAccent;
    border-radius: 50%;

    transition: background-color 0.1s linear;

    &:hover {
      background-color: $colorAccentHover;
    }
  }
}

.case__buttons_wrapper {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;

  width: 100%;
}

.case-button-prev {
  position: absolute;
  left: -25px;
}

.case-button-next {
  position: absolute;
  right: -25px;
}

@media screen and (max-width: 1250px){
  .case__buttons_wrapper {
      top: unset;
      transform: translateY(0)
  }

  .case-button-prev {
    position: unset;
  }

  .case-button-next {
    position: unset;
  }
}

@include mediaTabletSmall {
  .case__card {
    grid-template-columns: 1fr;
  }

  .case__card_image {
    img {
      border-radius: 16px 16px 0 0;
    }
  }
  .case__buttons_wrapper {
    display: none;
  }
}
