.card_info_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  z-index: 2;
}

.card_user_text {
  display: flex;
  align-items: center;

  column-gap: clamp(6px, 0.239rem + 0.68vw, 12px);
}

.user_info_name_light {
  span {
    color: $colorTitle;
  }
}

.user_info_name {
  span {
    font-size: clamp(12px, 0.659rem + 0.45vw, 16px);
  }
}

.user_info_name_dark {
  span {
    color: $colorWhite;
  }
}

.card_user_date {
  span {
    font-size: clamp(12px, 0.659rem + 0.45vw, 16px);
  }
}

.card_user_date_dark {
  span {
    color: $colorWhite;
    // font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: right;
  }
}

.card_user_date_light {
  span {
    color: $colorWhite;
  }
}

.user_info_name_wrapper {
  column-gap: clamp(4px, 0.159rem + 0.45vw, 8px);
  span {
    color: $colorAccentMuted;
    font-size: clamp(10px, 0.489rem + 0.68vw, 16px);
  }
}
