.header__search {
}
.header__search_title {
  margin-bottom: clamp(20px, 0.795rem + 2.27vw, 40px);
}

.header__search_form {
  max-width: 760px;
  margin: 0 auto;

  form {
    display: flex;
    align-items: center;

    border-radius: 8px;
    background: $colorWhite;
    padding: clamp(4px, 0.159rem + 0.45vw, 8px);

    max-width: 760px;

    margin-bottom: 23px;
  }

  input {
    margin: 0 auto 0 16px;
    padding-right: 20px;
    width: 95%;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    background: $colorAccent;
    padding: 9px clamp(10px, 0.398rem + 1.14vw, 20px);

    color: $colorWhite;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;

    transition: transform 0.1s linear;

    &:hover {
      transform: scale(1.06);
    }
  }
}
