.header {
  background-image: url(content/header/bgHeader.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;

  padding: 26px 0;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 120px;
}

.header__nav_list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.header__nav_item {
  color: $colorWhite !important;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;

  transition: color 0.2s linear;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid $colorWhite;
    border-radius: 8px;
    padding: 13px 24px;

    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;

    transition: background-color 0.1s linear;

    &:hover {
      background-color: $colorWhite;
      color: $colorAccent;
    }
  }
}

.header__nav_item_menu {
  display: flex;
  align-items: center;
  column-gap: 4px;

  img {
    margin-top: 3px;
  }

  &:hover {
    cursor: pointer;
  }
}

.header__row_nav_burger {
  display: none;
}

@include mediaTabletSmall {
  .header__row_nav_burger {
    display: block;
  }

  .header__row_nav {
    display: none;
  }

}