.header__row_nav_mobile {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: 25;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.2s linear;
    
}
.header__nav_list_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.header__nav_item_mobile {
    color: $colorWhite;
    font-weight: 600;
}

.header__row_nav_mobile.show {
    visibility: visible;
    opacity: 1;
}

.header__nav_item_mobile_dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
}

.header__nav_item_mobile_sub {
    li {
        color: $colorWhite;
    }
}
