.recent__row_card_one {
    background-image: url(/content/main/recent/imageOne.jpeg);
}

.recent__row_card_two {
    background-image: url(/content/main/recent/imageTwo.jpeg);
}

.recent__row_card_three {
    background-image: url(/content/main/recent/imageThree.jpeg);
}