.small_row {
  display: grid;  
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 30px;
}

.small__row_cards {
  display: flex;
  align-items: center;
  column-gap: 30px;

  height: 100%;
}

.small__row_card {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  height: 100%;


  padding: clamp(20px, 0.977rem + 1.36vw, 32px)
    clamp(24px, 0.955rem + 2.73vw, 48px) clamp(24px, 0.955rem + 2.73vw, 48px)
    clamp(18px, 0.943rem + 0.91vw, 26px);
  border-radius: 8px;

  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;

    border-radius: 8px;

    opacity: 1;

    content: "";
    display: block;
    background: linear-gradient(
      180deg,
      rgba(24, 59, 86, 0),
      rgb(21, 37, 50) 100%
    );

    transition: opacity 0.2s linear;
  }

  &:hover {
    cursor: pointer;
    &::after {
      opacity: 0.8;
    }
  }
}

.small__row_card_title {
  margin-top: clamp(80px, 0.682rem + 21.59vw, 270px);
  margin-bottom: clamp(20px, 0.977rem + 1.36vw, 32px);

  z-index: 2;
}

.small__row_card_subtitle {
  z-index: 2;
  margin-bottom: 10px;
}

@include mediaTabletLarge {
  .small_row {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .small__row_cards {
    width: 100%;
  }

  .small__row_card {
    width: 100%;
  }
}
