body {
  font-family: $openSans;
  // color: ;
  font-size: 16px;
}

a {
  transition: color 0.2s linear;

  &:hover {
    // color: $fff;
  }
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.title1 {
  color: $colorWhite;
  font-family: $gotham;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.2px;
  text-align: center;
}

.title2 {
  color: $colorTitle;
  font-family: $gotham;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.2px;
  text-align: left;

  &_popular {
    color: $colorWhite;
  }

  &_all {
    color: $colorWhite;
  }

  &_form {
    color: $colorWhite;
  }
}

.title3 {
  color: $colorWhite;
  font-family: $gotham;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.2px;
  text-align: left;
}

.title4 {
  color: $colorTitle;
  font-family: $gotham;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-align: left;
}

.subtitleP {
  color: $colorAccentMuted;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;

  &_small {
    color: $colorWhite;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
  }

  &_form {
    color: $colorAccentMuted;
  }

  &_card {
    color: $colorAccentMuted;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }
}
