/*FONTS*/

$openSans: 'Open sans', serif;
$gotham: 'Gotham', sefif;

/*FONTS*/

/*COLORS*/

$colorWhite: #fff;
$colorAccent: rgb(21, 101, 216);

/*COLORS*/

/*MEDIA*/

$tablet: 1000px;
$semiTablet: 630px;
$phone: 320px;

/*MEDIA*/